<%- include header %>

    <header style="text-align:center; margin-top: 30px; margin-bottom:30px">
        <h1>List Peminjaman <%= user.name %></h1>
        <a href="/customer/do_logout" ><button class="btn btn-warning">Logout</button></a>
    </header>

    <div class="container">
        <div class="row">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Lease Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(function(transaction) { %>
                <tr>
                    <td><%= transaction.id %></td>
                    <td><%= transaction.bookDate %></td>
                    <td><%= transaction.returnDate %></td>
                    <td><%= helper.checkDate(transaction.returnDate) %></td>
                    <td><a href="/transaction/<%= transaction.id %>/detail">View Detail</a></td>
                </tr>
                <% }) %>
            </tbody>
        </div>
    </div>

</body>
</html>