<%- include header %>
    <header style="text-align:center; margin-top: 30px; margin-bottom:30px">
        <h1>List Book</h1>
        <h2>Maximum rent 2 days</h2>
        <a href="/customer/do_logout"><button class="btn btn-warning">Logout</button></a>
        <a href="/cart"><button class="btn btn-primary">Cart</button></a>
        <h3>Your Total Item in Cart <b style="color:red"><%= quantity %></b></h3>
    </header>

    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% listBook.forEach(function(bookList) {%>
                    <tr>
                        <td><%= bookList.id %></td>
                        <td><%= bookList.title %></td>
                        <td><%= bookList.description %></td>
                        <td><%= bookList.stock %></td>
                        <td><a href="/cart/add/<%= bookList.id %>"><button class="btn btn-primary" type="button"> Add Book to Cart</button></a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>