<%- include header %>

    <h1>List Book</h1>
    <h2>Lama Peminjaman 2 hari</h2>
    <a href="/customer/do_logout"><button>Logout</button></a>
    <a href="/cart"><button>Cart</button></a> 
    <p>Jumlah Cart <%= quantity %></p>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% listBook.forEach(function(bookList) {%>
            <tr>
                <td><%= bookList.id %></td>
                <td><%= bookList.title %></td>
                <td><%= bookList.description %></td>
                <td><%= bookList.stock %></td>
                <td><a href="/cart/add/<%= bookList.id %>">Add Book to Cart</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>