<%- include header %>

    <h1>List Book</h1>
    <a href="/customer/do_logout"><h3>Logout</h3></a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% listBook.forEach(function(bookList) {%>
            <tr>
                <td><%= bookList.id %></td>
                <td><%= bookList.title %></td>
                <td><%= bookList.description %></td>
                <td><%= bookList.stock %></td>
                <td><a href="">Add Book to Cart</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>